<% provide(:title, 'Help') %>
<h1>Help</h1>
General Info
</br>
<li>What is the Movie_DB?</li>
</br>
<li>How much does using the Movie_DB cost?</li>
</br>
<li>How/where you get your information? How accurate/reliable is it?</li>
</br>
<li>How much information do you actually have and how current is it?</li>
</br>
</br>

Answers will be added later. Thanks for the patience.


