<li>
  <%= link_to movie.name, movie %>, <small>Released date: <%= movie.release_date.strftime("%B %d, %Y") %></small>

  <% 
  if signed_in? && current_user.admin? %>
    | <%= link_to "delete", movie, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>
