<div id="rating_div" class="rating">
</div>
<%= form_for(@rating, :html => {:id => "rating_form"}) do |f| %>
    <%= f.hidden_field :movie_id %>
    <%= f.hidden_field :value %>
<% end %>

<script type="text/javascript"> 
    $( document ).ready(function() {
        $('#rating_div').raty({ 
            score: <%= @rating.value %>,
            click: function(score, evt) {
                document.getElementById('rating_value').value = score;
                document.getElementById('rating_form').submit();
            }
        });
    });
 </script>
