<ul class="movie">
<% watch_list.each do |watch_obj| %>
	<li>
	  <% movie = watch_obj.movie %>
	  <%= link_to movie.name, movie %>, <small>Release date: <%= movie.release_date.strftime("%B %d, %Y") %></small>
	  <% if signed_in? %>
	  	<%= form_for(watch_obj, html: { method: :delete }) do |f| %>
			<%= f.submit "Remove from watch list", class: "watch_list_button" %>
		<% end %>
	  <% end %>
	</li>

<% end %>
</ul>