<table class="user_watch_list_table">
	<% watch_list.each do |watch_obj| %>
	    <% movie = watch_obj.movie %>
	    <tr>
	    <td>
				<li>
				  <%= link_to movie.name, movie %>
				</li>
	    </td>
	    <td>
				  <% if signed_in? && current_user?(@user) %>
				  	<%= form_for(watch_obj, html: { method: :delete }) do |f| %>
						<%= f.submit "Remove ", class: "watch_list_button" %>
					<% end %>
				  <% end %>
	    </td>
	  </tr>
	<% end %>
</table>