<tr class="all-users-table-row">
	<td class="all-users-table-image">
	  <%= gravatar_for user, size: 52 %>
	</td>

	<td class="all-users-table-details">
	  <%= link_to user.name, user %>
	  <div class="user-admin-options">
	  <% if current_user.admin? && !current_user?(user) %>
	    <%= link_to "Delete", user, method: :delete, data: { confirm: "You sure?" } %>
	  <% end %>
	  </div>
	</td>
</tr>
