<% provide(:title, 'All users') %>
<h1>All Users</h1>
<div class="all-users-container">
<%= will_paginate %>

<table class="all-users-table">
  <% @users.each do |user| %>
		<%= render user %>
  <% end %>
</table>

<%= will_paginate %>
</div>