@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}


/**************** date time  *****************/

.datetime {
	select {
		height: auto;
	}
}

.datetime select:nth-child(1){
  width: 130px;
  text-indent: 15px; 
}

.datetime select:nth-child(2) {
  width: 200px;
  text-indent: 5px;
}

.datetime select:nth-child(3) {
  width: 110px;
  text-indent: 15px;
}

.review_form {
  margin-top: 20px; 
	textarea {
   	    height: 10em;
   	    width: 100%;
	}
}



.search_field {
  width: 90%;
	height: 40px!important;
  align: center;
}

.user_ratings_table {
  margin-left: 40px;   
}

.user_watch_list_table {
  margin-left: 40px;   
}

#rating_value_for_user{
  margin-left: 40px;     
}

/***************** Watch List  ********************/

.watch_list_button {
    background:none!important;
    border:none;
    padding:0!important;
    float: left;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:20px;


}


#watch_list_form {
  float: left;    
}


#rating_container {
  float: right;
}

.rating {
}



.review-watchlist-bar {
  margin-bottom: 0px;
}

.movie-heading {
  clear:both;
}

.movie-table-container {
  clear:both;
  margin-top: 50px;
}


/********** movie table ***************/
#movie_title {
  font-size: 3em;
  letter-spacing: -2px;
  text-align: center;

}

#movie_list_details {
  
}

#image_thumbnail {
  
}


.movie_table {
  tr {
    margin-bottom: 20px;
  }
}

.movie_list_element {
  margin-bottom: 10px;
}

.movie_form {
  textarea {
        height: 8em;
  }
}

.movie_name {
}

.release_date {
  float: right;
}

.movie_director {
  clear:both;
  float:left;
  width: auto;
}

.movie_cast {
  float:left;
  margin-left: 30px;
}

.movie_reviews_count {
  margin-left: 20px;
}

.each_movie_info {
  padding-left:50px;
}

.search_form {
  padding-top:25px;
}



/*********  ******/

.search-box-container {
  margin-top: 10px;
  padding: 10px;
}

.movie-container {
  width: 100%;
}

.movie-image-container {
  width: 10%;
}

.each-movie-content {
  float: left;
}

.movie-admin {
  float: right;
}

.user-admin-options {
  float: right;
}

.all-users-table {
  width: 100%; 
}

.all-users-table-image {
  width: 5%;
}

.single-review {
  margin-bottom: 10px;
}

.movie-table-left {
}